body {
  font-family: "Open Sans", sans-serif;
  background-color: #434343;

  background-image: url(recipe-background.jpg);
  background-size: 120% 127%; 
   background-position: center;
  background-repeat: no-repeat;
  
}

#chat-window {
  width: 500px;
  margin: 0 auto;
  background-color: #00000071;
  padding: 30px;
  border-radius: 50px;
  margin-top: 120px;
  box-shadow: 0px 0px 10px 10px rgb(255, 30, 101)
}

#chat-messages {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  height: calc(100vh - 200px);
  max-height: calc(100vh - 400px);
  overflow: auto;

}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

#chat-form {
  display: flex;
  align-items: center;
}

#chat-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f9bb00;
  color: #000000;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.bot-message {
  font-family: "Roboto", sans-serif;
  background-color: #fffbf5; /* different light color */
  text-align: justify; /* keep it right-aligned */
  padding: 15px; /* added padding */
  margin-top: 10px; /* added margin-top to create a gap */
  margin-bottom: 10px;
  display: flex;
  align-items: left;
  font-style: italic;
  border-radius: 20px;
  flex-direction: column;
  font-size: 18px;
}

.user-message {
  font-family: "Nunito", sans-serif;
  color: #000000;
  background-color: #ffcc00; /* light color */
  text-align: left; /* changed text align to left */
  padding: 15px; /* added padding */
  display: flex;
  align-items: center;
  font-style: italic;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
}





.user-message img,
.bot-message img {
  width: 40px; /* adjust the width of the icon */
  height: 40px; /* adjust the height of the icon */
  margin-right: 20px; /* add some margin to separate the icon from the message */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
  #chat-window {
    width: 90%;
  }
}
.main-title {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-style: italic;
}
